<div class="lead-details-container">
        <div class="lead-details-header d-flex align-items-center">
          <i class="fas fa-arrow-left me-2"></i>
          <h3>Lead Details</h3>
        </div>

        <div class="lead-details">
          <div class="lead-container bg-light">
            <div class="lead lead-header">
              <h2>James</h2>
            </div>
            <div>
              <div class="lead">
                <div class="label">Phone</div>
                <div class="value1">251</div>
              </div>
            </div>
            <div>
              <div class="lead">
                <div class="label">Email</div>
                <div class="value1">Dolly</div>
              </div>
            </div>
            <div>
              <div class="lead">
                <div class="label">Email</div>
                <div class="value1">Dolly</div>
              </div>
            </div>
            <div>
              <div class="lead">
                <div class="label">Email</div>
                <div class="value1">Dolly</div>
              </div>
            </div>
            <div>
              <div class="lead">
                <div class="label">Email</div>
                <div class="value1">Dolly</div>
              </div>
            </div>
            <div>
              <div class="lead">
                <div class="label">Email</div>
                <div class="value1">Dolly</div>
              </div>
            </div>
            <div>
              <div class="lead">
                <div class="label">Email</div>
                <div class="value1">Dolly</div>
              </div>
            </div>
          </div>

          <div class="tab-content lead-tab-content">
            <!-- Nav tabs -->
            <ul class="nav nav-pills lead-nav-pill">
              <li class="nav-item me-2">
                <a class="nav-link active" data-bs-toggle="tab" href="#drivers"
                  >Drivers</a
                >
              </li>
              <li class="nav-item me-2">
                <a class="nav-link" data-bs-toggle="tab" href="#vehicles"
                  >Vehicles</a
                >
              </li>

              <li class="nav-item me-2">
                <a class="nav-link" data-bs-toggle="tab" href="#violations"
                  >Violations</a
                >
              </li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content bg-light mt-5" style="border-radius: 10px">
              <div
                id="drivers"
                class="container-fluid tab-pane active driver-details-container"
              >
                <div class="driver-details-container">
                  <div class="driver-details-header">
                    <h5><i class="fas fa-user"></i> Primary Driver</h5>
                    <a href="#" class="edit-link">Edit</a>
                  </div>
                  <div class="row g-0">
                    <div class="col-md-4">
                      <div class="info-row">
                        <strong>First Name</strong><br />
                        Male
                      </div>
                      <div class="info-row">
                        <strong>Last Name</strong><br />
                        Male
                      </div>
                      <!-- Add more rows as needed -->
                    </div>
                    <div class="col-md-4">
                      <div class="info-row">
                        <strong>Date of Birth</strong><br />
                        10
                      </div>
                      <div class="info-row">
                        <strong>Marital Status</strong><br />
                        Single
                      </div>
                      <!-- Add more rows as needed -->
                    </div>
                    <div class="col-md-4">
                      <div class="info-row">
                        <strong>Education</strong><br />
                        Other Professional Degree
                      </div>
                      <div class="info-row">
                        <strong>Occupation</strong><br />
                        Other Non Technical
                      </div>
                      <!-- Add more rows as needed -->
                    </div>
                  </div>
                  <a href="#" class="add-driver">+ Add Driver</a>
                </div>
              </div>
              <div id="vehicles" class="container tab-pane fade">
                <br />
                <h3>Vehicles</h3>
                <p>Vehicle information goes here...</p>
              </div>

              <div id="violations" class="container tab-pane fade">
                <br />
                <h3>Violations</h3>
                <p>Violation information goes here...</p>
              </div>
            </div>
          </div>
        </div>
      </div>