.edit-profile {
  padding-top: 30px;
}

.custom-container {
  padding-left: 30px;
  padding-right: 30px;
}
.navbar-title {
  font-size: 15px;
}

.git-nav {
  /* 
#;
     #eaeef2
     #d0d7de
     #afb8c1
    #f6f8fa
*/

  background-color: #eaeef2;
}

.search-section {
  border-right: 1px solid #c3c3c3;
  padding-right: 40px;
}
.username-label {
  font-weight: 600;
  margin-bottom: 10px;
}
#username {
  height: 30px;
  font-size: 14px;
  margin-bottom: 10px;
}
info-section {
  padding-left: 40px;
}
.hidden {
  display: none;
}
.repo-list {
  margin-top: 20px;
}
.avatar-url {
  height: 20px;
  border-radius: 150%;
  padding-right: 10px;
}
.repo-name {
  text-decoration: unset;
}
.repo-stat-box {
  text-align: center;
}
.repo-stat-num {
  font-weight: 700;
  font-size: 18px;
}
.repo-stat-desc {
  font-size: 13px;
  color: grey;
}
#repo-desc {
  margin-bottom: 15px;
}
#repo-name {
  font-size: 25px;
  padding-bottom: 5px;
  border-bottom: 1px solid #c3c3c3;
  margin-bottom: 15px;
}
.gh-progress {
  height: 7px !important;
}
.progress-text {
  margin-top: 7px;
  font-size: 14px;
}
.list-group-item {
  padding-top: 15px;
  padding-bottom: 15px;
}
.mpr-title {
  font-weight: 600;
}
.mpr-subtitle {
  font-size: 14px;
  color: #696969;
}
.mpr-list {
  margin-bottom: 50px;
}
.repo-language-stats {
  margin-top: 20px;
}
.l-stats-body {
  color: #696969;
  font-size: 14px;
}

ul li.active a {
  font-weight: 600;
  color: blueviolet;
}

ul li a {
  color: black;
}
