@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap);
*,
.nav-menu .menu {
  padding: 0;
  margin: 0;
}
.content-customise,
.content-customise a {
  color: #2c9ce5ff;
}
.content-customise a,
.leads-table tbody tr td a,
.nav-menu .menu li a {
  text-decoration: none;
}
.center-wrapper,
.wrapper {
  height: 100vh;
  display: flex;
}
.form-title,
.login-logo,
.logo,
.nav-menu .menu,
.text-center {
  text-align: center;
}
body {
  font-family: Arial, sans-serif;
}
.wrapper {
  flex-direction: row;
}
.side-bar {
  background-color: #2b3043ff;
  width: 380px;
  display: flex;
  flex-direction: column;
}
.logo {
  margin-top: 5px;
}
.side-bar .logo img {
  padding: 5px;
  max-height: 100px;
  object-fit: contain;
}
.nav-menu {
  margin-top: 20px;
}
.nav-menu .menu {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.nav-menu .menu li {
  margin: 5px;
  padding: 5px;
  width: 90%;
  border-radius: 10px;
}
.nav-menu .menu li a {
  display: flex;
  align-items: center;
  padding: 10px 15px;
  color: #dac7c7;
}
.nav-menu .menu li a .fas,
.navbar-header .nav-logo i {
  margin-right: 20px;
}
.nav-menu .menu li.active,
.nav-menu .menu li:hover {
  background-color: #262935;
  color: #fff;
  border-radius: 10px;
}
.main-content {
  width: calc(100% - 380px);
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.main-content .navbar-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 25px;
  width: 100%;
}
.navbar-header .nav-logo {
  font-size: 24px;
  font-weight: 400;
}
.add-driver,
.content-title,
.lead h2 {
  font-weight: 700;
}
.nav-search .btn {
  background: #b96472;
  color: #fff;
}
.nav-search input {
  padding-left: 5px;
  margin-right: 10px;
  border-radius: 5px;
  border: 1px solid rgba(185, 100, 114, 0.5);
  width: 100%;
}
.nav-search input:focus {
  border: 2px solid #b96472;
  outline: 0;
  box-shadow: 0 0 8px rgba(185, 100, 114, 0.5);
}
#email-dropdownMenuLink {
  background-color: #f8f9fa;
  color: #333;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  text-decoration: none;
}
#email-dropdownMenuLink:focus,
#email-dropdownMenuLink:hover {
  background-color: #e2e6ea;
  color: #000;
  box-shadow: 0 0 5px rgba(185, 100, 114, 0.5);
  border: none;
}
.email-dropdown-menu {
  min-width: 200px;
}
.content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 100%;
  background: #f0eded;
}
.content-header {
  display: flex;
  flex-direction: row;
  padding: 25px;
  align-items: center;
  justify-content: space-between;
}
.content-title {
  font-size: 1.3rem;
}
.content-title i {
  font-size: 1rem;
}
.content-customise i {
  margin: 5px;
}
.content-table {
  margin: 0 25px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  background: #fff;
}
.leads-table {
  margin-top: 10px;
  padding: 10px;
}
.leads-table td,
.leads-table th {
  text-align: left;
  padding: 10px;
  border-bottom: 1px solid #ddd;
  vertical-align: middle;
}
.leads-table thead th {
  padding: 12px;
  text-align: left;
}
.center-wrapper {
  background-color: #f8f8f8;
  justify-content: center;
  align-items: baseline;
  width: 100vw;
  padding-top: 50px;
}
.login-container {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.login-logo {
  margin: 20px 0;
}
.login-wrapper,
.registration-wrapper {
  width: 420px;
  background: #eee;
  border: 2px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(20px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  padding: 30px 40px;
}
.text-center {
  color: #e9378a;
}
.add-driver,
.edit-link {
  color: #d63384;
  text-decoration: none;
}
.login-wrapper .input-box,
.registration-wrapper .input-box {
  width: 100%;
  height: 50px;
  position: relative;
  margin: 30px 0;
}
.login-wrapper .input-box input {
  height: 100%;
  width: 100%;
  border: 1px solid rgba(202, 148, 148, 0.589);
  border-radius: 40px;
  font-size: 16px;
  padding: 20px 45px 20px 20px;
  transition: border 0.1s;
}
.login-wrapper .input-box input:focus,
.registration-wrapper .input-box input:focus {
  border: 2px solid #ca9494;
}
.login-wrapper .input-box i,
.registration-wrapper .input-box i {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
  color: #e9378a;
}
.login-wrapper .btn,
.registration-wrapper .btn {
  width: 100%;
  height: 45px;
  border: none;
  outline: 0;
  border-radius: 40px;
  font-weight: 700;
  font-size: 16px;
  background-color: #e9378a;
  color: #fff;
  cursor: pointer;
  transition: 0.3s;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.login-wrapper .register-link,
.registration-wrapper .register-link {
  font-size: 14.5px;
  text-align: center;
  margin-top: 20px;
}
.login-wrapper .register-link p a {
  color: #e9378a;
  text-decoration: none;
  font-weight: 600;
}
.add-driver:hover,
.edit-link:hover,
.login-wrapper .register-link p a:hover,
.registration-wrapper .register-link p a:hover {
  text-decoration: underline;
}
.registration-wrapper .input-box input {
  width: 85%;
  border: 1px solid rgba(202, 148, 148, 0.589);
  border-radius: 40px;
  font-size: 16px;
  padding: 20px 45px 20px 20px;
  transition: border 0.1s;
}
.registration-wrapper .register-link p a {
  color: #e9378a;
  text-decoration: none;
  font-weight: 600;
  font-size: 16.5px;
}
.lead-details-container {
  width: 100%;
  padding: 25px;
}
.lead-details-header {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
}
.lead-details-header i {
  font-size: 2rem;
  color: pink;
  margin-right: 0.5rem;
}
.lead-details-header h3 {
  margin: 0;
  font-size: 1.5rem;
  color: #000;
}
.lead-details {
  display: flex;
  margin-top: 24px;
}
.lead-container {
  width: 450px;
  padding: 10px;
  border-radius: 10px;
  margin-right: 50px;
}
.lead {
  padding: 10px 10px 10px 20px;
  border-bottom: 1px solid rgba(199, 199, 199, 0.51);
}
.lead .label {
  font-size: 18px;
  font-weight: 600;
}
.lead .value1 {
  font-size: 16px;
}
.lead-nav-pill .nav-item .nav-link {
  text-decoration: none;
  background-color: #bbb;
  border-radius: 30px;
}
.nav-item .nav-link {
  background-color: #d3d3d3;
  border-radius: 30px;
  color: #000;
  margin-right: 8px;
}
.nav-pills .nav-link.active {
  color: #fff;
  background-color: #6898e0;
}
.lead-tab-content {
  width: 100%;
}
.driver-details-container,
.vehicle-details-container,
.violation-details-container {
  background: #f8f9fa;
  padding: 20px;
  margin-top: 1rem;
  margin-bottom: 2rem;
}
.driver-container,
.vehicle-container,
.violation-container {
  margin: 5px;
  padding: 10px;
}
.driver-details-header,
.vehicle-details-header {
  padding-bottom: 25px;
  border-bottom: 1px solid #dee2e6;
  display: flex;
}
.driver-details-header h5 i {
  margin-right: 5px;
}
.driver-details-header h5 {
  margin-right: 15px;
}
.info-row {
  border-bottom: 1px solid #dee2e6;
  padding: 8px 0;
}
.edit-link {
  margin-left: 8px;
}
.add-driver {
  display: block;
  padding: 8px 0;
}
.profile-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f4f4f4;
}
.profile-wrapper {
  display: flex;
  flex-direction: row;
  max-width: 800px;
  background-color: #fff;
  padding: 25px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 50px;
  border-radius: 8px;
}
.profile-photo {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px 25px 15px;
}
.profile-info {
  display: flex;
  flex-direction: column;
  padding: 0 25px 25px;
}
.profile-img img {
  display: block;
  width: 170px;
  height: 170px;
  border-radius: 50%;
  margin: 10px auto;
  border: 4px solid #eaeaea;
}
.input-group {
  margin-bottom: 15px;
}
.form-field-spacing,
.form-title {
  margin-bottom: 20px;
}
.input-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ced4da;
  border-radius: 4px;
  font-size: 1rem;
}
.form-title {
  font-size: 1.5rem;
}
