/* @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
}

.login-container {
  position: absolute;  
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.login-logo {
  text-align: center;
  margin: 20px 0;
}

.login-wrapper {
  width: 420px;
  background: #eeeeee;
  border: 2px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(20px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  padding: 30px 40px;
}

.text-center {
  text-align: center;
  color: rgba(233, 55, 138, 1);
}

.login-wrapper .input-box {
  width: 100%;
  height: 50px;
  position: relative;
  margin: 30px 0;
}

.login-wrapper .input-box input {
  height: 100%;
  width: 100%;
  border: 1px solid rgba(202, 148, 148, 0.589);
  border-radius: 40px;
  font-size: 16px;
  padding: 20px 45px 20px 20px;
  transition: border 0.1s ease;  
}

.login-wrapper .input-box input:focus {
  border: 2px solid rgba(202, 148, 148, 1);
}

.login-wrapper .input-box i {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
  color: rgba(233, 55, 138, 1);
}

.login-wrapper .btn {
  width: 100%;
  height: 45px;
  border: none;
  outline: none;
  border-radius: 40px;
  font-weight: bold;
  font-size: 16px;
  background-color: rgba(233, 55, 138, 1);
  color: #fff;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.login-wrapper .register-link {
  font-size: 14.5px;
  text-align: center;
  margin-top: 20px;
}
.login-wrapper .register-link p a {
  color: rgba(233, 55, 138, 1);
  text-decoration: none;
  font-weight: 600;
}
.login-wrapper .register-link p a:hover {
  text-decoration: underline;
}

.registration-container {
  position: absolute;  
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.registration-wrapper {
  width: 420px;
  background: #eeeeee;
  border: 2px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(20px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  padding: 30px 40px;
}

.registration-wrapper .input-box {
  width: 100%;
  height: 50px;
  position: relative;
  margin: 30px 0;
}

.registration-wrapper .input-box input {
  height: 100%;
  width: 100%;
  border: 1px solid rgba(202, 148, 148, 0.589);
  border-radius: 40px;
  font-size: 16px;
  padding: 20px 45px 20px 20px;
  transition: border 0.1s ease;
}

.registration-wrapper .input-box input:focus {
  border: 2px solid rgba(202, 148, 148, 1);
}

.registration-wrapper .input-box i {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
  color: rgba(233, 55, 138, 1);
}

.registration-wrapper .btn {
  width: 100%;
  height: 45px;
  border: none;
  outline: none;
  border-radius: 40px;
  font-weight: bold;
  font-size: 16px;
  background-color: rgba(233, 55, 138, 1);
  color: #fff;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.registration-wrapper .register-link {
  font-size: 14.5px;
  text-align: center;
  margin-top: 20px;
}
.registration-wrapper .register-link p a {
  color: rgba(233, 55, 138, 1);
  text-decoration: none;
  font-weight: 600;
  font-size: 16.5px;
}
.registration-wrapper .register-link p a:hover {
  text-decoration: underline;
}

.sidebar {
  position: sticky;
  top: 0;
  left: 0;
  bottom: 0;
  width: 240px;
  height: 100vh;
  padding: 0 1.7rem;
  color: #fff;

  transition: all 0.5s linear;
  background: #9a9a9a;
}
 

.logo img {
  display: block;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin: 10px auto;
}

.menu {
  margin-top: 50px;
  height: 88%;
  position: relative;
  list-style: none;
  padding: 0;
}

.menu li {
  padding: 0.7rem;
  margin: 8px 0;
  border-radius: 8px;
  transition: all 0.5s ease-in-out;
}

.menu li:hover,
.active {
  background: #bbbbbb;
}

.menu li a {
  font-size: 14px;
  color: #fff;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
.menu a span {
  overflow: hidden;
}
.menu a i {
  font-size: 1.2rem;
}

.logout {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.main-content {
  position: relative;
  background: #eeeeee;
  width: 100%;
  padding: 1rem;
}
.header-wrapper img {
  width: 50px;
  height: 50px;
  cursor: pointer;
  border-radius: 50%;
}
.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  background: #fff;
  border-radius: 10px;
  padding: 10px 2rem;
  margin-bottom: 1rem;
}
.header-title {
  color: #9a9a9a;
}
.user-info {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.search-box {
  background: rgb(237, 237, 237);
  border-radius: 15px;
  color: rgba(113, 99, 186, 255);
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 4px 12px;
}
.search-box input {
  background: transparent;
  padding: 10px;
}

.search-box i {
  font-size: 1.2rem;
  cursor: pointer;
  transition: all 0.5s ease-out;
}
.search-box i:hover {
  transform: scale(1.2);
}

.card-container {
  background: #fff;
  padding: 2rem;
  border-radius: 10px;
}
.card-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
.card-title {
  color: #9a9a9a;
  padding-bottom: 10px;
  font-size: 16px;
}
.payment-card {
  background: rgb(229, 223, 223);
  border-radius: 10px;
  padding: 1.2rem;
  width: 290px;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: all 0.5s ease-out;
}

.payment-card:hover {
  transform: translateY(-5px);
}

.card-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}
.amount {
  display: flex;
  flex-direction: column;
}
.title {
  font-size: 12px;
  font-weight: 200;
}
.value {
  font-size: 24px;
  font-family: "Courier New", Courier, monospace;
  font-weight: 600;
}
.icon {
  color: #fff;
  padding: 1rem;
  height: 60px;
  width: 60px;
  text-align: center;
  border-radius: 50%;
  font-size: 1.5rem;
  background: #78909c;
}
.card-detail {
  font-size: 18px;
  color: #777777;
  letter-spacing: 2px;
  font-family: "Courier New", Courier, monospace;
}
.light-red {
  background: rgb(251, 233, 233);
}
.dark-red {
  background: rgb(255, 82, 82);
}
.light-blue {
  background: #cfd8dc;
}
.light-grey {
  background: #cfd8dc;
}
.light-purple {
  background: rgb(254, 226, 254);
}
.dark-purple {
  background: purple;
}
.light-green {
  background: #cbd5c0;
}
.dark-green {
  background: #9caf88;
}

.table-wrapper {
  background: #fff;
  margin-top: 2rem;
  border-radius: 10px;
  padding: 2rem;
}
.table-container {
  width: 100%;
}

table {
  width: 100%;
  border-collapse: collapse;
}

thead {
  background: #a7a7a7;
  color: #fff;
}

th {
  padding: 15px;
  text-align: left;
}
tbody {
  background: #f2f2f2;
}
td {
  padding: 10px;
  font-size: 14px;
  color: #333;
}
tr:nth-child(even) {
  background: #fff;
}

.table-container button {
  color: green;
  background: none;
  cursor: pointer;
}

.lead-details-container {
  width: 100%;
  padding: 5px;
}

.lead-details-header {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
}

.lead-details-header i {
  font-size: 2rem;
  color: pink;
  margin-right: 0.5rem;
}

.lead-details-header h3 {
  margin: 0;
  font-size: 1.5rem;
  color: black;
}
.lead-details {
  display: flex;
  margin-top: 24px;
}

.lead-container {
  width: 360px;
  padding: 10px;
  border-radius: 10px;
  margin-right: 50px;
}

.lead {
  padding: 10px 10px 10px 20px;
  border-bottom: 1px solid rgba(199, 199, 199, 0.51);
}
.lead h2 {
  font-weight: 700;
}
.lead .label {
  font-size: 18px;
  font-weight: 600;
}
.lead .value1 {
  font-size: 16px;
}

.lead-nav-pill .nav-link.active {
  border-radius: 30px;
}
.lead-tab-content {
  width: 100%;
}

.driver-details-container,
.vehicle-details-container,
.violation-details-container {
  background: #f8f9fa;
  padding: 20px;
  margin-top: 1rem;
  margin-bottom: 2rem;
}
.driver-container,
.vehicle-container,
.violation-container {
  margin: 5px;
  padding: 10px;
}

.driver-details-header,
.vehicle-details-header {
  padding-bottom: 25px;
  border-bottom: 1px solid #dee2e6;
  display: flex;
}
.driver-details-header h5 i {
  margin-right: 5px;
}
.driver-details-header h5 {
  margin-right: 15px;
}

.info-row {
  border-bottom: 1px solid #dee2e6;
  padding: 8px 0;
}

.edit-link {
  text-decoration: none;
  color: #d63384;  
  margin-left: 8px;
}

.edit-link:hover {
  text-decoration: underline;
}

.add-driver {
  display: block;
  padding: 8px 0;
  color: #d63384;
  font-weight: bold;
  text-decoration: none;
}

.add-driver:hover {
  text-decoration: underline;
}

.input-search {
  width: 200px;

  border: 1px solid #ccc;  
  border-radius: 5px;  
}

.user-info {
  display: flex;
  align-items: center;
}

.input-search {
  line-height: 2rem;
  border: 1px solid #ccc;
  padding-left: 15px;
  border-radius: 15px;
}

.input-search-btn {
  background-color: #007bff;
  color: #fff;
  border: 1px solid #007bff;

  cursor: pointer;
  border-radius: 15px;
}

.input-search-btn i {
  margin-right: 5px;
}

.input-search-btn:hover {
  background-color: #0056b3;
} */

/******* new CSS *****/
/* CSS HEX 
--white-smoke: #F5F5F5ff;
--celestial-blue: #2C9CE5ff;
--black: #000000ff;
--space-cadet: #2B3043ff;
--white: #FFFFFFff;
 #222838ff;
*/
* {
  margin: 0;
  padding: 0;
  /* border: 1px solid white; */
}

body {
  font-family: "Arial", sans-serif;
}

/******* Lead Page*******/

.wrapper {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.side-bar {
  background-color: #2b3043ff;
  width: 380px;
  display: flex;
  flex-direction: column;
}

.logo {
  margin-top: 5px;
  text-align: center;
}
.side-bar .logo img {
  padding: 5px;

  max-height: 100px;
  object-fit: contain;
}

.nav-menu {
  margin-top: 20px;
}

.nav-menu .menu {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nav-menu .menu li {
  margin: 5px;
  padding: 5px;
  width: 90%;
  border-radius: 10px;
}

.nav-menu .menu li a {
  display: flex;
  align-items: center;
  padding: 10px 15px;
  color: #dac7c7;
  text-decoration: none;
}

.nav-menu .menu li a .fas {
  margin-right: 20px;
}

.nav-menu .menu li.active,
.nav-menu .menu li:hover {
  background-color: #262935;
  color: white;
  border-radius: 10px;
}

.main-content {
  width: calc(100% - 380px); /* Adjust this if sidebar width changes */
  display: flex;
  flex-direction: column; /* Stack child elements vertically */
  flex-grow: 1; /* Take up all available space */
}

.main-content .navbar-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 25px;
  width: 100%;
}
.navbar-header .nav-logo {
  font-size: 24px;
  font-weight: 400;
}
.navbar-header .nav-logo i {
  margin-right: 20px;
}

.nav-search .btn {
  background: rgb(185, 100, 114);
  color: white;
}
.nav-search input {
  padding-left: 5px;
  margin-right: 10px;
  border-radius: 5px;
  border: 1px solid rgba(185, 100, 114, 0.5);
  width: 100%;
}
.nav-search input:focus {
  border: 2px solid rgb(185, 100, 114);
  outline: none;
  box-shadow: 0 0 8px rgba(185, 100, 114, 0.5);
}

#email-dropdownMenuLink {
  background-color: #f8f9fa;
  color: #333;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  text-decoration: none;
}
#email-dropdownMenuLink:hover,
#email-dropdownMenuLink:focus {
  background-color: #e2e6ea;
  color: #000;
  box-shadow: 0 0 5px rgba(185, 100, 114, 0.5);
  border: none;
}
.email-dropdown-menu {
  min-width: 200px; /* Set minimum width */
}
.content {
  display: flex;

  flex-direction: column;
  flex-grow: 1; /* Allow content to expand and fill the available space */
  width: 100%; /* Take up all available width */
  background: #f0eded;
}
.content-header {
  display: flex;
  flex-direction: row;
  padding: 25px;
  align-items: center;
  justify-content: space-between;
}
.content-title {
  font-size: 1.3rem;
  font-weight: 700;
}
.content-title i {
  font-size: 1rem;
}
.content-customise {
  color: #2c9ce5ff;
}

.content-customise i {
  margin: 5px;
}

.content-customise a {
  text-decoration: none;
  color: #2c9ce5ff;
}

.content-table {
  margin: 0px 25px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  background: #fff;
}
.leads-table {
  margin-top: 10px;
  padding: 10px;
}

.leads-table tbody tr td a {
  text-decoration: none;
}

.leads-table th,
.leads-table td {
  text-align: left;
  padding: 16px;
  border-bottom: 1px solid #ddd;
  vertical-align: middle;
}
.leads-table thead th {
  padding: 14px;

  text-align: left;
}

/******* Login Page*******/
.center-wrapper {
  background-color: #f8f8f8;
  display: flex;
  justify-content: center;
  align-items: baseline;
  height: 100vh;
  width: 100vw;
  padding-top: 50px;

  /* Example: 30% of the viewport height minus 50px */
}

.login-container {
  position: absolute; /* Position the element absolutely relative to its first positioned (not static) ancestor */
  top: 30%; /* Position the top edge of the element in the middle of the screen */
  left: 50%; /* Position the left edge of the element in the middle of the screen */
  transform: translate(-50%, -50%);
}
.login-logo {
  text-align: center;
  margin: 20px 0;
}

.login-wrapper {
  width: 420px;
  background: #eeeeee;
  border: 2px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(20px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  padding: 30px 40px;
}

.text-center {
  text-align: center;
  color: rgba(233, 55, 138, 1);
}

.login-wrapper .input-box {
  width: 100%;
  height: 50px;
  position: relative;
  margin: 30px 0;
}

.login-wrapper .input-box input {
  height: 100%;
  width: 100%;
  border: 1px solid rgba(202, 148, 148, 0.589);
  border-radius: 40px;
  font-size: 16px;
  padding: 20px 45px 20px 20px;
  transition: border 0.1s ease; /* Add a transition effect for the border */
}

.login-wrapper .input-box input:focus {
  border: 2px solid rgba(202, 148, 148, 1);
}

.login-wrapper .input-box i {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
  color: rgba(233, 55, 138, 1);
}

.login-wrapper .btn {
  width: 100%;
  height: 45px;
  border: none;
  outline: none;
  border-radius: 40px;
  font-weight: bold;
  font-size: 16px;
  background-color: rgba(233, 55, 138, 1);
  color: #fff;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.login-wrapper .register-link {
  font-size: 14.5px;
  text-align: center;
  margin-top: 20px;
}
.login-wrapper .register-link p a {
  color: rgba(233, 55, 138, 1);
  text-decoration: none;
  font-weight: 600;
}
.login-wrapper .register-link p a:hover {
  text-decoration: underline;
}

/* Registration */

.registration-wrapper {
  width: 420px;
  background: #eeeeee;
  border: 2px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(20px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  padding: 30px 40px;
}

.registration-wrapper .input-box {
  width: 100%;
  height: 50px;
  position: relative;
  margin: 30px 0;
}

.registration-wrapper .input-box input {
  width: 85%;
  border: 1px solid rgba(202, 148, 148, 0.589);
  border-radius: 40px;
  font-size: 16px;
  padding: 20px 45px 20px 20px;
  transition: border 0.1s ease; /* Add a transition effect for the border */
}

.registration-wrapper .input-box input:focus {
  border: 2px solid rgba(202, 148, 148, 1);
}

.registration-wrapper .input-box i {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
  color: rgba(233, 55, 138, 1);
}

.registration-wrapper .btn {
  width: 100%;
  height: 45px;
  border: none;
  outline: none;
  border-radius: 40px;
  font-weight: bold;
  font-size: 16px;
  background-color: rgba(233, 55, 138, 1);
  color: #fff;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.registration-wrapper .register-link {
  font-size: 14.5px;
  text-align: center;
  margin-top: 20px;
}
.registration-wrapper .register-link p a {
  color: rgba(233, 55, 138, 1);
  text-decoration: none;
  font-weight: 600;
  font-size: 16.5px;
}
.registration-wrapper .register-link p a:hover {
  text-decoration: underline;
}

/*********LEad Details **********/
.lead-details-container {
  width: 100%;
  padding: 25px;
}

.lead-details-header {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
}

.lead-details-header i {
  font-size: 2rem;
  color: pink;
  margin-right: 0.5rem;
}

.lead-details-header h3 {
  margin: 0;
  font-size: 1.5rem;
  color: black;
}
.lead-details {
  display: flex;
  margin-top: 24px;
}

.lead-container {
  width: 450px;
  padding: 10px;
  border-radius: 10px;
  margin-right: 50px;
}

.lead {
  padding: 10px 10px 10px 20px;
  border-bottom: 1px solid rgba(199, 199, 199, 0.51);
}
.lead h2 {
  font-weight: 700;
}
.lead .label {
  font-size: 18px;
  font-weight: 600;
}
.lead .value1 {
  font-size: 16px;
}

.lead-nav-pill .nav-item .nav-link {
  text-decoration: none;
  background-color: #bbbbbb;
  border-radius: 30px;
}

.nav-item .nav-link {
  background-color: lightgrey; /* Light grey background for non-active links */
  border-radius: 30px; /* Rounded corners with a 30px radius */
  color: black; /* Text color for non-active links - adjust as needed */
  margin-right: 8px; /* Optional: to ensure some spacing between the tabs */
}

.nav-item .nav-link.active {
  background-color: blue; /* Blue background for the active link */
  color: white; /* Text color for the active link - adjust as needed */
}

.lead-tab-content {
  width: 100%;
}

.driver-details-container,
.vehicle-details-container,
.violation-details-container {
  background: #f8f9fa;
  padding: 20px;
  margin-top: 1rem;
  margin-bottom: 2rem;
}
.driver-container,
.vehicle-container,
.violation-container {
  margin: 5px;
  padding: 10px;
}

.driver-details-header,
.vehicle-details-header {
  padding-bottom: 25px;
  border-bottom: 1px solid #dee2e6;
  display: flex;
}
.driver-details-header h5 i {
  margin-right: 5px;
}
.driver-details-header h5 {
  margin-right: 15px;
}

.info-row {
  border-bottom: 1px solid #dee2e6;
  padding: 8px 0;
}

.edit-link {
  text-decoration: none;
  color: #d63384;
  margin-left: 8px;
}

.edit-link:hover {
  text-decoration: underline;
}

.add-driver {
  display: block;
  padding: 8px 0;
  color: #d63384;
  font-weight: bold;
  text-decoration: none;
}

.add-driver:hover {
  text-decoration: underline;
}
