 

 <!-- Sidebar -->
    <div class="sidebar">
      <div class="logo">
      <%= image_tag "profile.jpeg" %>
        
      </div>
      <ul class="menu">
        <li class="active">
            
            <%= link_to leads_path do %>
                <i class="fas fa-chart-bar"></i> <span>Leads</span>
            <% end %>
        </li>
        <li>
          <%= link_to edit_user_path(current_user.id) do %>
                <i class="fas fa-user"></i> <span>Edit Profile</span>
            <% end %>
         
          
        </li>
        <li>
          <a href="#">
            <i class="fas fa-chart-bar"></i> <span> Statistics</span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fas fa-briefcase"></i> <span> Carrer</span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fas fa-question-circle"></i> <span> FAQ</span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fas fa-star"></i> <span> Testimonials</span>
          </a>
        </li>
        <li>
          <a href="#"> <i class="fas fa-cog"></i> <span> Settings</span> </a>
        </li>
        <li>
         <%= link_to :logout, method: :post do %>
                <i class="fas fa-user"></i> <span>Logout</span>
            <% end %>
        </li>
      </ul>
    </div>
    <!-- Sidebar -->
 