
 <div class="header-wrapper">
        <div class="header-title">
          <span> Primary </span>
          <h2>Dashboard</h2>
        </div>
        <div class="user-info">
          <div>
            <%= form_tag(leads_path, method: :get, class: "") do %>
              <%= text_field_tag :value, params[:value], class: "input-search" %>
              <%= submit_tag "Search", class: "btn btn-primary" %>
            <% end %>
          </div>
          <%= image_tag "icon.jpeg" %>
          
        </div>
</div>
                