

                <div class="navbar-header">
            <div class="nav-logo"><i class="fas fa-bars"></i> Admin View</div>

            

            <%= form_tag(leads_path, method: :get, class: "nav-search d-flex") do %>
               <%= text_field_tag :value, params[:value], placeholder: "Search", class: "search-input" %>
               
               <%= button_tag(type: "submit", class: "btn") do %>
                  <i class="fa-solid fa-magnifying-glass"></i>
              <% end %>
            <% end %>

            <div class="dropdown dropright">
              <a
                class="btn dropdown-toggle"
                href="#"
                role="button"
                id="email-dropdownMenuLink"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                abid@smartfinancial.com
              </a>

              <ul
                class="dropdown-menu email-dropdown-menu dropdown-menu-left"
                aria-labelledby="email-dropdownMenuLink"
              >
                <li><a class="dropdown-item" href="#">Logout</a></li>
              </ul>
            </div>
          </div>